@media (min-width: 768px) {
  .content {
    width: 80%;
    margin: 0 auto;
    font-size: 1rem;
  }
  .promo-section {
    display: flex;
    display: wrap;
    justify-content: space-between;
    gap: 15px;
  }
  .card-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
  }
}

@media (min-width: 1200px) {
  .sale-badge {
    display: block;
    position: absolute;
    top: 40px;
    right: 60px;
    background-color: var(--red-shade);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 95px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
  }
  .hero-text h1 {
    font-size: 40px;
  }
  .hero-text p {
    font-size: 30px;
  }
}
